!!! 5
%html
  %head
    %title 53-DBN ROSTER
    = csrf_meta_tags
    %meta{name:"viewport", content: "width=device-width, initial-scale=1"}
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    %div.container
      - flash.each do |msg_type, msg|
        = content_tag :div, msg, class: "alert alert-#{msg_type}"
      - flash.clear
      = yield
      = render 'layouts/footer'
